html{
    width: fit-content;
  }
  body{
    background-color: rgb(243, 239, 239)/*linear-gradient(#10100f,rgb(123, 120, 120),rgb(128, 129, 128))*/;
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;
    margin: 0;
    box-sizing: border-box;
}
header{
  background-color: #333;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #333;
    color: white;
    margin: 0px;
    padding: 0 24px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
}
.navbar-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #333;*/
    color: white;
}


.brand-title{
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    font-size: 2rem;
    font-family: 'Orbitron';
    text-shadow: -5px 5px 4px black;

}
.underline{ /*inorder to underline the title of the last word*/
    border-bottom: 3px solid white;
}
/* li{
  list-style: none;
}
a{
  color: white;
  text-decoration: none;
}
.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
*/
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-menuItem{
list-style: none;
}

.nav-link-menuItem{
  transition: 0.7s ease;
  color: white;
  text-decoration: none;
  text-align: justify;
  display: inline;
}
.nav-link-menuItem:hover{
  color:dodgerblue;
  text-decoration: underline;
  transition: 0.5s;
}
.hamburger-menu{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
@media(max-width:880px){
  .hamburger-menu{
      display: block;
      padding-bottom: 10px;
      
  }
  .hamburger-menu.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger-menu.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }
  .hamburger-menu.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
      position: fixed;
      left: -100%;
      top: 65px;
      gap: 0;
      flex-direction: column;
      background-color: black;
      text-align: center;
      width: 100%;
      transition: 0.3s;
      margin-top:1rem ;
  }
  .nav-menuItem{
      margin: 16px 0;
  }
  
  
  .nav-menu.active{
      left: 0;
      z-index: 2;
      background-color: #000;
  }
}        
@media (max-width: 794px){
    .brand-title{
        margin: 2rem;
        font-size: 2.5rem;
        text-shadow: -5px 5px 4px black;
    
    }      
}
    .content{
        display: grid;
        grid-template-columns: repeat(6,2fr);
        grid-template-rows: repeat(6,2fr);
        gap: 20px;
        height: 50rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
       
    }
    .item1{
        
        grid-column:  1/3;
        grid-row:  1/4;
        margin: 10px;
        width: 100%;  
        border-radius: 10px; 
    }
    .item1__img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        height: 100%; 
        box-shadow:  0px 3px 8px #000 ;
    }
    .item1__img:hover{
        box-shadow: 0px 6px 20px;
    }
    .item2 {
        grid-column:  3/7;
        grid-row:  1/4;
        padding: 5px;
        margin: 10px;
        background-color: #d9d4d4;
        color: #000000;
        gap:20px;
        border-radius: 10px;
        box-shadow:  0px 3px 8px #000 ;
      }
    .item2:hover{
        box-shadow: 0px 6px 20px;
      }
      .item2__paragraph{
        font-style:normal;
        padding: 5px;
        margin: 10px;
        text-align: justify;
        color: #000000;
        padding: 10px 12px;

      }
      .item2__header{
        
        font-weight: 800;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        padding-bottom: 10px;

      }
      .item2__header:hover{
        color: #fd2b71;
        cursor: pointer;
        text-decoration: wavy;

      }
      
      .item2__unordlist{
        text-align:left;
        font-family: 'Poppins', sans-serif;
       
      }
      .item2__unordlist__items{
        font-weight: 600;
        font-style: normal;
        font-family: 'Poppins', sans-serif;
        list-style:square;
        
      }
      .item2__unordlist__items:hover{
      color:dodgerblue;}
      .item3 {
        grid-column:  1/4;
        grid-row:  4/7;
        background-color: #d9d4d4;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        box-shadow:  0px 3px 8px #000 ;

      }
      .item3:hover{
        box-shadow: 0px 6px 20px;
      }
      .item3__paragraph{
        font-style:normal;
        padding: 5px;
        margin: 10px;
        text-align: justify;
        color: #000000;
        padding: 10px 12px;
        
      }


      .item4 {
        grid-column:  4/7;
        grid-row:  4/7;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        
      }
      .item4__img{
        width: 100%;
        object-fit: cover;
        height: 100%; 
        border-radius: 10px;
        box-shadow:  0px 3px 8px #000 ;
      }
      .item4__img:hover{
        box-shadow: 0px 6px 20px;
      }
    @media (max-width:850px){
      .content{
        display: flex;
            flex-direction: column;
            height: 100%;
            margin-top:5px;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0;
      }
    }
    /*
    @media (max-width: 690px){
        
        .content{
            display: flex;
            flex-direction: column;
            justify-content: space-around;height: 110rem;
            gap: 20px;
         
            
            
            
        }
        .item1{
            
            flex-direction: row;
            background-size: cover;
            background-position: center;
            width: 50%;
            height: 30%;
        }
        .item2{
           
            flex-direction: row;
        }
        .item3{
            
            flex-direction: row;
        }
        .item4{
            display: flex;
            flex-direction: column;
        }
        .item5{
            display: flex;
            flex-direction: column;
        }.item6{
            display: flex;
            flex-direction: column;
            background: url('AdobeStock_399711672_Preview.jpeg') no-repeat;
            background-size: cover;
            background-position: center;
            width: 50%;
            height: 39%;
        }
        .item7{
            display: flex;
            flex-direction: column;
            background: url('image/AdobeStock_292432300_Preview-Copy') no-repeat;
            background-size: cover;
            background-position: center;
            width: 50%;
            height: 30%;
        }
        
    }*/
    
    
      
      

    /*.footer{
      
        bottom: 0;
        
       
        border-bottom: 60px;
        background-color: #333;
        /*display: flex;
        justify-content: space-between;
        align-items: center; */
       /* color: white;
        /*margin: 3px 3px 0px 3px ;*/
        /*left: 0px;
        right: 0px;
        margin-top: 30px;
        padding-top: 35px;
        padding-bottom: 30px;
        
        border-color: 0;
        
    }*/
    
    .footer_main{
      margin-top: 30px;
      padding-top: 35px;
      padding-bottom: 30px;
      background-color: #000000;
      border-color: 0;
      color: #ddd;

      padding-right:  15px;
      padding-left: 15px;
      
      border-top: 1px solid #ddd;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .footer_main_container{
      margin-left: auto;
      margin-right: auto;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
  }
  
     .footer_main_row{
      display:block;
      margin-bottom: 35px;
     }
  
  
    .contact{
      line-height: 2;
      margin-top: 20px;
      
    }
    .address{
      line-height: 2;
      margin-top: 20px;
      
  
    }
  
   .contact_list_items{
    text-align: center;
   }
  .contact_list_elem{
    text-align: center;
    font-size: 1rem;
  } 
    .contact_block{
      font-size: 1.3em;
      padding: 0;
    }
    .address_block{
      font-size: 1.3em;
    }
    
    .contact_list_items{
      list-style:none ;
    }
    .contact_list_items{
      text-decoration: none;
      text-align: center;
    }
    .contact_list_elem{
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      list-style: none;
    }
    .contact_list_elem_anchor{
      color: white;
      text-decoration: none;
      

    }
    .contact_list_elem_anchor:hover{
      background-color: transparent;
      color: rgb(71, 99, 174);
    }
  
    .address {
      color:white;
      font-size: 1em;
      line-height: 1.8;
    }
  
    .testimonials{
      font-size: 25px;
      padding-top: 10px ;
    }
    .testimonials_block{
      margin-top: 25px;
    }
    .copyright{
      margin: 2px;
      text-align: center;
    }


    @media (max-width:767px){
      .contact{
          margin-bottom: 30px;
          text-align: center;
        }
    
        .footer_main section:nth-child(3){
          margin-bottom: 0;/* this for the margin to exist in the whole row*/
        }
    
        .straight-line{
          display: block !important;
          width:100%;
        }
    }
    @media (min-width:768px){
      .columnsmall-4{        /*the 12 grid layout is implemented in this section*/
          width: 53.33%;
      }
      .footer_main_container{
          width: 700px;
      }
      .footer_main_row{
          display: flex;
          align-items: center;
      }
      .straight-line{
          display: none;
        }
    }
    @media (min-width: 992px) {
      .footer_main_container {
        width: 970px;
      }
    }
    @media (min-width: 1200px) {
      .footer_main_container {
        width: 1170px;
      }
    }

  
  

  
  

  

  .icon_image{
    background-color: rgb(191, 191, 234);
    border-radius: 50%;
    margin: 5px;
    height: 24px;
    padding:2px;
  }



